.devtool-container {
  width: calc(100vw - 72px);
  height: 100vh;
  display: flex;
  flex-direction: column;

  .devtool-header {
    height: 36px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      width: 480px;
    }
  }

  .devtool-list-container {
    padding: 0 20px;

    .devtool-list {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

      .devtool {
        color: #555555;
        height: 80px;
        display: flex;
        padding: 16px 0 16px 16px;
        align-items: center;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0 0 4px #00000010;

        &:hover {
          cursor: pointer;
          box-shadow: 0 0 0 2px #409eff, 0 0 4px #00000010;
        }

        .icon {
          width: 50px;
          height: 50px;
        }

        .body {
          padding: 16px 0;
          margin-left: 10px;

          .title {
            height: 36px;
            font-size: 18px;
            line-height: 36px;
          }

          .description {
            height: 24px;
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }
  }
}

.base64-container {
  width: calc(100vw - 72px);
  height: 100vh;
  display: flex;
  flex-direction: column;

  .base64-header {
    height: 48px;
    min-height: 48px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .handle {
      display: flex;
      align-items: center;
    }
  }

  .base64-body {
    height: calc(100vh - 72px);
    display: grid;
    padding: 0 20px 24px 20px;
    grid-gap: 12px 0;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;

    .origin, .encode {
      display: flex;
      flex-direction: column;
    }

    .title {
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      margin-bottom: 4px;
    }

    .editor {
      padding: 8px;
      border-radius: 8px;
      background-color: #ffffff;
      box-shadow: 0 0 4px #00000010;
    }

    .image {
      width: 100%;
      height: 100%;

      .upload {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .upload-dragger {
          width: 100%;
          height: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          box-sizing: border-box;
          border: 1px dashed #e0e0e6;
          background-color: #ffffff;

          &:hover {
            border: 1px dashed #2d8cf0;
          }
        }
      }

      .show {
        width: 100%;
        height: 100%;
        padding: 8px;
        display: flex;
        flex-direction: column;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain !important;
        }
      ;
      }
    }
  }
}

.cursor-container {
  width: calc(100vw - 72px);
  height: 100vh;
  display: flex;
  flex-direction: column;

  .cursor-header {
    height: 48px;
    min-height: 48px;
    padding: 0 20px;
    display: flex;
    align-items: center;

    .tips {
      font-size: 12px;
      margin-left: 16px;
    }
  }

  .cursor-body {
    height: calc(100vh - 68px);
    display: grid;
    padding: 0 20px 20px;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    .cursor-item {
      display: flex;
      padding: 32px 16px;
      border-radius: 6px;
      align-items: center;
      flex-direction: column;
      background-color: #ffffff;

      &:hover {
        color: #ffffff;
        background-color: #409EFF;
      }

      .icon {
        width: 24px;
        height: 24px;
        filter: invert(1);
      }

      .text {
        font-size: 14px;
        margin-top: 16px;
      }
    }
  }
}

.keycode-container {
  width: calc(100vw - 72px);
  height: 100vh;
  display: flex;
  flex-direction: column;

  .keycode-header {
    height: 48px;
    min-height: 48px;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }

  .keycode-body {

  }
}
